body {
    background-color: #9684a3;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: aliceblue;
}

html, body {
    margin: 0px;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

header {
    text-align: center;
    margin: 0px;
    background-color: #775a8b;
    height: 6em;

}

main {
    flex: auto;
    max-width: 80%;
    margin: auto;
}

button {
    font-family: Arial, Helvetica, sans-serif;
    padding: 1em 1em;
    background: #9684a3;
    color: aliceblue;
    border-color:#775a8b;




}
button:hover {
    background-color: #775a8b;

}

table{
    display:  flex;
    flex-direction: column;
    justify-content: space-between;
    align-content: center;
    font-size: large;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
}
table, th, td {
    border-collapse: collapse;
    height: 2.15em;
}
th, td {
    padding: .5em;
    justify-items: center;
    text-align: center

}

#clear {
    vertical-align: middle;
    padding: .5em 1em;
}

#dot {
    padding-right: 1.2em;
}

#minus {
    padding-right: 1.2em;

}

#divide {
    padding-right: 1.2em;

}
td > button{
    align-content: space-around;

}

input {
    min-height: 2em;
    min-width: 20em;
    background: #775a8b;
    border: 2px solid #4c315f;
    color: aliceblue;

}



/* .num {
    font-size: large;
    padding: 3vw;
}
.oper{
    font-size: large;
    padding: 3vw;
}
.doer {
    font-size: large;
    padding: 3vw;

} */