body {
    background-color: #9684a3;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: aliceblue;
}

html, body {
    margin: 0px;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

header {
    text-align: center;
    margin: 0px;
    background-color: #775a8b;
    height: 6em;

}


/* main {
    margin-top: 5vh;
    display: flex;
    flex-direction: column;
    justify-content: center;

} */

main {
    flex: auto;
    max-width: 80%;
    margin: auto;
}

table{
    display:  flex;
    flex-direction: column;
    justify-content: space-between;
    align-content: center;
    font-size: large;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
}
table, th, td {
    border-collapse: collapse;
    height: 2.15em;
}
th, td {
    padding: .5em;
    justify-items: center;
    text-align: center

}

#dot {
    padding-right: 10px;
}

#minus {
    padding-right: 9px;

}

#divide {
    padding-right: 10px;

}
td > button{
    align-content: space-around;
}

/* input {
    padding: 1vh;
    background: #775a8b;
    border: 2px solid #4c315f;

}

button {
    font-family: ;
    padding: 10px;
    background: #9684a3;
    color: aliceblue;




}

.num {
    font-size: large;
    padding: 3vw;
}
.oper{
    font-size: large;
    padding: 3vw;
}
.doer {
    font-size: large;
    padding: 3vw;

} */