body {
    background-color: #9684a3;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: aliceblue;
}

html, body {
    margin: 0px;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

header {
    text-align: center;
    margin: 0px;
    background-color: #775a8b;
    height: 10vh;

}


main {
    margin-top: 5vh;
    display: flex;
    flex-direction: row;
    justify-content: center;

}

input {
    padding: 1vh;
    width: 20vw;
    background: #775a8b;
    border: 2px solid #4c315f;

}

button {
    padding: .55vh;
    background: #9684a3;



}